*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

nav{
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 4rem;
    background-color: #fff;
    margin-bottom: 1px;
    /* margin: 0 10px; */
    position: fixed;
    top: 0;
}

nav h2{
    font-weight: bold;
    color: #000;
    font-style: italic;
}

nav ul{
    float: right;
    /* margin-right: 10px; */
}

nav ul li{
    list-style-type: none;
    text-transform: uppercase;
    display: inline-block;
}

nav ul li a{
    text-decoration: none !important;
    padding: 0 10px !important;
    color: black !important;
    /* font-size: 20px; */
    font-weight: bold !important;
    font-family: sans-serif !important;
}

/* Carousal CSS */
.banner-section .carousal{
    width: 100%;
    height: 600px;
    background-image: url("banner.jpg");
    /* background-repeat: no-repeat; */
    /* background-color: #9acd32; */
    /* object-fit: cover; */
    /* color: #fff; */
    /* font-weight: bolder; */
    /* font-size: 40px; */
    /* text-align: center; */
}


.main-body{
    /* border: 2px solid black; */
    margin: 20px 40px;
    padding: 0;
    /* width: 80%; */
}


.category{
    display: flex;
    justify-content: space-between;
    margin: 10px 30px;

}

/* button.btn-cosmetic{
    float: right;
} */

.cosmetics,
.mart,
.fashion,
.food,
.random{
    display: flex;
}

.all-products,
.cosmetic-section,
.mart-section,
.fashion-section,
.food-section,
h3{
    font-size: 30px;
    /* text-align: center; */
    text-transform: uppercase;
    /* text-decoration: underline; */
    color: #000;
}

button.btn-all,
button.btn-cosmetic,
button.btn-mart,
button.btn-food,
button.btn-fashion
{
    float: right;
    margin-left: 20px;
    background-color: #fff;
    font-weight: bold;
    text-align: center;
    font-size: 14px;
    color: #9acd32;
    padding: 8px;
    border: none;
    text-transform: uppercase;
    cursor: pointer;
}

button.btn-all,
button.btn-mart,
button.btn-food,
button.btn-fashion,
button.btn-cosmetic,
a{
    text-decoration: none;
    color: black;
}


.btn-left{
    float: right;
}
.btn-left button{
  
    /* border: none; */
    /* margin-right: 10px;
    margin-top: 10px; */
    padding: 5px 8px;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
    background: none;
    border: 2px solid green;
    border-radius: 11px;
}

.btn-right button{

    /* border: none; */
    /* margin-left: 10px;
    margin-top: 10px; */
    padding: 5px 8px;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
    background: none;
    border: 2px solid green;
    border-radius: 11px;

}

button a:hover{
    
    color: #9acd32;
    /* text-decoration: #9acd32; */
}


.p{
    width: 320px;
    height: 400px;
    margin: 30px;
    /* padding: 20px; */
    border: 1px solid #fff;
}

.p .image img{
    width: 100%;
    height: 300px;
}

.details{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: #000;
    margin-bottom: 10px 0;
}

.price{
    font-weight: bold;
    font-size: 25px;
    color: #000;
    text-align: center;
    margin-top: 5px;
}


/* CSS for Form  */
.container{
    width: 400px;
    padding: 30px;
    background-color: white; 
    margin: 30px auto;
    /* margin-top: 10px; */
}
.container h2{
    background-color: #9acd32;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    padding: 10px 0px;
    margin-top: 5px;
}
.container h3{
    color: #222;
    font-weight: bold;
    text-transform: capitalize;
    margin: 5px 0;
}
.container input[type="text"],
.container input[type="email"],
.container input[type="number"],
textarea{
    width: 100%;
    margin-bottom: 15px;
    padding: 5px;
}
.container input[type="submit"]{
    width: 100%;
    background-color: #9acd32;
    color: #fff;
    font-size: 15px;
    padding: 8px 12px;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 5px;
    
}


footer{
    width: 100%;
    height: 30vh;
    background-color: #000;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: #fff;
}